#home {
    background-image: url("../../assets/home/home-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 240px;
}

.home_title {
    font-size: 71px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home_description {
    color: white;
    font-size: 15px;
    padding-top: 30px;
    line-height: 160%;
}

.home_a {
    display: flex;
    justify-content: space-between;
}

.home_description_2 {
    color: white;
    padding-top: 43px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 4px;
    font-size: 15px;
    cursor: pointer;
}

.home_link {
    color: #BE7E00;
    background-color: white;
    height: 50px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width:1020px) {
    .home_title {
        font-size: 50px;
    }
}

@media (max-width:750px) {
    .home_link {
        display: none;
    }

    .home_title {
        font-size: 44px;
        line-height: 115%;
    }

    .home_description {
        font-size: 14px;
    }

    #home {
        padding-top: 150px;
        padding-bottom: 170px;
    }
}

@media (max-width:480px) {
    .home_title {
        font-size: 40px;
    }

    .home_description {
        font-size: 12px;
    }

    .home_description_2 {
        font-size: 14px;
    }

    #home {
        padding-bottom: 70px;
    }
}

@media (max-width:400px) {
    .home_description {
        font-size: 12px;
    }

    .home_title {
        font-size: 36px;
    }

    .home_description_2 {
        font-size: 14px;
    }
}

/* about  */

#about {
    background-color: #1a1a1a;
    padding-top: 50px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about_title {
    font-size: 84px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about_contact {
    display: flex;
    align-items: center;
    padding-top: 90px;
    gap: 25px;
}

.about_link {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-top: -60px;
    font-size: 15px;
}

.about_subtitle {
    color: white;
    font-size: 20px;
    padding-top: 5px;
}

.about_description {
    color: white;
    font-size: 15px;
    padding-top: 55px;
    line-height: 160%;
}

.about_static {
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 50px;
}

.about-static-description {
    color: white;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
}

.about-static-description-number {
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about_link_2 {
    background-color: #3f3e3e;
    color: white;
    display: inline-block;
    margin-top: 45px;
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
}

.about_contact_img {
    max-width: 490px;
    width: 100%;
    height: 721px;
}

@media (max-width:995px) {
    .about-content {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 80px;
    }
}

@media (max-width:510px) {
    .about_title {
        font-size: 65px;
    }

    .about_description {
        font-size: 14px;
    }

    .about-static-description-number {
        font-size: 65px;
    }

    .about_contact {
        padding-top: 10px;
    }
}

@media (max-width:485px) {
    .about-static-description-number {
        font-size: 30px;
    }

    .about_title {
        font-size: 55px;
    }

    .about_subtitle {
        font-size: 18px;
    }

    .about_contact_img {
        height: 651px;
    }

    .about_link_2 {
        display: none;
    }

    .about_description {
        font-size: 13px;
    }
}

@media (max-width:415px) {
    .about_title {
        font-size: 55px;
    }

    .about-static-description-number {
        font-size: 45px;
    }

    .about_description {
        font-size: 12px;
        padding-top: 30px;
    }

    .about_static {
        gap: 70px;
    }

    .about_contact_img {
        height: 521px;
    }

    .about_link_2 {
        display: none;
    }

    .about_title {
        font-size: 45px;
    }

    .about_title {
        font-size: 55px;
    }

    .about-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about_contact_img {
        margin-top: -30px;
    }
}

@media (max-width:390px) {
    .about_subtitle {
        font-size: 16px;
    }

    .about_description {
        font-size: 12px;
    }

    .about_contact_img {
        height: 520px;
    }

    .about_link_2 {
        display: none;
    }

    .about-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* obekt */

#obekt {
    padding-top: 113px;
    background-color: #1a1a1a;
    padding-bottom: 163px;
}

.obekt_title {
    font-size: 80px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.obekt_description {
    color: white;
    margin-top: -40px;
    border-bottom: 2px solid white;
    font-size: 15px;
}

.obekt_content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 65px;
}

.obekt_card_subtitle {
    display: grid;
    gap: 6px;
    grid-template-columns: auto auto;
    color: white;
    position: absolute;
    top: 50px;
    left: 40px;
}

.obekt_card {
    position: relative;
}

.obekt_card_title {
    font-size: 22px;
    color: white;
}

.obekt_card_description {
    font-size: 14px;
    color: white;
    line-height: 151%;
}

.obekt_card_content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    bottom: 10px;
    left: 35px;
}

#obekt_card_img {
    background-image: url("../../assets/home/obekt-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

@media (max-width:1020px) {
    .obekt_card_description {
        font-size: 14px;
    }

    .obekt_card_title {
        font-size: 20px;
    }
}

@media (max-width:400px) {
    .obekt_card_content {
        left: 20px;
    }

    .obekt_card_subtitle {
        left: 20px;
    }
}

@media (max-width:1025px) {
    .obekt_title {
        font-size: 65px;
    }
}

@media (max-width:860px) {
    .obekt_title {
        font-size: 55px;
    }
}

@media (max-width:760px) {
    .obekt_title {
        font-size: 45px;
    }
}

@media (max-width:662px) {
    .obekt_title {
        font-size: 35px;
    }
}

@media (max-width:565px) {
    .obekt_title {
        font-size: 35px;
    }

    .obekt_description {
        display: none;
    }

}

@media (max-width:400px) {
    .obekt_title {
        font-size: 33px;
    }

    #obekt {
        padding-bottom: 80px;
        padding-top: 80px;
    }
}

/* life */
#life {
    background-color: #1a1a1a;
    padding-top: 160px;
    padding-bottom: 127px;
}

.life_title {
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.life_content {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 93px;
    font-size: 15px;
    gap: 8px;
}

.life_description {
    color: white;
    padding-top: 26px;
    font-size: 15px;
    line-height: 160%;
}

.life_link {
    background-color: #3f3e3e;
    color: white;
    display: inline-block;
    margin-top: 173px;
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
}

.life_contact {
    display: flex;
    justify-content: space-between;
}

.life_img {
    padding-top: 20px;
    max-width: 490px;
    width: 100%;
    height: 677px;
}

@media (max-width:1115px) {
    .life_contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .life_link {
        margin-top: 50px;
    }
}

@media (max-width:640px) {
    .life_title {
        font-size: 65px;
    }
}

@media (max-width:520px) {
    .life_title {
        font-size: 55px;
    }

    .life_link {
        margin-top: 50px;
    }

    #life {
        padding-top: 80px;
    }
}

@media (max-width:445px) {
    .life_title {
        font-size: 45px;
    }

    .life_content {
        font-size: 14px;
        white-space: nowrap;
        padding-top: 30px;
    }

    .life_description {
        font-size: 14px;
        padding-top: 30px;
    }

    .life_img {
        height: 550px;
    }
}

@media (max-width:415px) {
    .life_content {
        font-size: 13px;
    }

    .life_description {
        font-size: 13px;
    }
}

@media (max-width:385px) {
    .life_description {
        font-size: 12px;
    }

    .life_content {
        font-size: 12.5px;
    }
}

/* control */

#control {
    background-color: #1a1a1a;
    padding-top: 180px;
    padding-bottom: 141px;
}

.control_title {
    color: white;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.control_description {
    color: white;
    font-size: 15px;
    line-height: 160%;
    padding-top: 58px;
}

.control_contact {
    display: flex;
}

.control_subtitle {
    color: white;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.control_content_2 {
    display: flex;
    gap: 30px;
}

.control_content {
    padding-top: 230px;
}

.control_link_2 {
    color: white;
}

.control_description_2 {
    color: white;
    line-height: 160%;
    font-size: 15px;
    padding-top: 58px;
}

.control_content_3 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.control_link {
    color: white;
}

@media (max-width:1410px) {
    .control_link {
        display: none;
    }
}

@media (max-width:1240px) {
    .control_link_2 {
        display: none;
    }
}

@media (max-width:1140px) {
    .control_contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .control_content {
        padding-top: 120px;
    }

    .control_title {
        font-size: 50px;
        max-width: auto;
        width: 100%;
    }

    .control_subtitle {
        font-size: 50px;
    }
}

@media (max-width:500px) {
    .control_title {
        font-size: 45px;
    }

    #control {
        padding-top: 80px;
    }

    .control_content {
        padding-top: 60px;
    }
}

@media (max-width:425px) {
    .control_title {
        font-size: 40px;
    }

    .control_subtitle {
        font-size: 45px;
    }

    .control_description {
        padding-top: 35px;
    }

    .control_description_2 {
        padding-top: 35px;
    }

    #control {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .control_content {
        padding-top: 60px;
    }
}

@media (max-width:393px) {
    .control_description {
        font-size: 14px;
    }

    .control_description_2 {
        font-size: 14px;
    }

    .control_title {
        font-size: 37px;
    }

    .control_subtitle {
        font-size: 42px;
    }

    .control_content {
        padding-top: 60px;
    }
}

/* suitable */

#suitable {
    background-color: #202020;
    padding-top: 78px;
    padding-bottom: 114px;
}

.suitable_title {
    color: white;
    font-size: 80px;
    padding-bottom: 65px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.suitable_card {
    max-width: 425px;
    width: 100%;
    height: 620px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 35px;
    transition: 0.5s;
    padding-right: 35px;
    cursor: pointer;
}

.suitable_card h3 {
    font-size: 20px;
    padding-top: 30px;
    color: white;
}

.suitable_card p {
    color: white;
    padding-top: 70px;
    line-height: 160%;
    font-size: 17px;
}

.suitable_card:hover {
    background-color: #3f3e3e;
    transition: 0.5s;
    border-radius: 20px;
}

@media (max-width:750px) {
    .suitable_title {
        font-size: 65px;
    }
}

@media (max-width:580px) {
    .suitable_title {
        font-size: 55px;
    }
}

@media (max-width:495px) {
    .suitable_title {
        font-size: 45px;
    }
}

@media (max-width:415px) {
    .suitable_title {
        font-size: 40px;
    }

    #suitable {
        padding-bottom: 80px;
    }
}

@media (max-width:385px) {
    .suitable_title {
        font-size: 37px;
    }
}

/* blog */

#blog {
    background-color: #1a1a1a;
    padding-top: 155px;
    padding-bottom: 154px;
}

.blog_content {
    display: flex;
    padding-bottom: 80px;
}

.blog_title {
    padding-top: 20px;
    padding-left: 0px;
    color: white;
    font-size: 80px;
}

@media (max-width:450px) {
    .blog_title {
        font-size: 60px;
    }

    #blog {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

/* info */

#info {
    background-image: url("../../assets/home/info_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 275px;
    padding-bottom: 306px;
}

.info_title {
    font-size: 80px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info_email {
    max-width: 430px;
    width: 100%;
    height: 54px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding-left: 25px;
    outline: none;
}

.info_link {
    border: 2px solid white;
    max-width: 186px;
    display: inline-block;
    height: 54px;
    width: 100%;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_content {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 66px;
    justify-content: center;
}

.info_check {
    border: 2px solid white;
    width: 20px;
    height: 18px;
    background-color: transparent;
}

.info_content_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}

.info_description {
    color: white;
}

@media (max-width:1000px) {
    .info_title {
        font-size: 70px;
    }
}

@media (max-width:575px) {
    .info_content {
        display: block;
    }

    .info_link {
        margin-top: 40px;
        width: 100%;
        padding-top: 15px;
        display: inline-block;
    }

    .info_content_2 {
        gap: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #info {
        padding-top: 180px;
        padding-bottom: 180px;
    }
}

@media (max-width:480px) {
    .info_title {
        font-size: 55px;
    }

    #info {
        padding-top: 140px;
        padding-bottom: 100px;
    }

    .info_link {
        margin-top: 20px;
        width: 100%;
        padding-top: 15px;
        display: inline-block;
    }
}

@media (max-width:390px) {
    .info_title {
        font-size: 48px;
    }

    .info_description {
        font-size: 14px;
    }
}